section {
    padding-top: 1.3rem;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nav-links a {
    font-weight: 600;
    font-size: 1rem;
    color: gray;
}

.nav-links > .blue {
    color: #2563eb;
}

.arrow {
    color: gray;
    font-weight: 600;
    font-size: 1rem;
}

.header {
    margin-top: .60rem;
}

.header h2 {
    font-size: 40px;
    font-weight: 800;
    color: #0e2f4f;
}

.header p {
    color: gray;
    font-size: .90rem;
    font-weight: 500;
}

.shipping-con,
.summary-con,
.payment-con {
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    border-radius: 8px;
}

.info {
    display: flex;
    align-items: center;
    gap: 1.8rem;
}

.info i {
    background-color: #2563eb;
    height: 2.7rem;
    width: 2.7rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.4rem;
}

.info h2 {
    color: #0e2f4f;
    font-size: 1.3rem;
    font-weight: 700;
}

.info h2 span:nth-child(2) {
    font-size: .80rem;
    color: gray;
    font-weight: 500;
    display: block;
}

form {
    margin-top: 1rem;
    width: 100%;
}

.first-input {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    font-size: .90rem;
    color: #0e2f4f;
    font-weight: 500;
}

.name,
.cp,
.email,
.address,
.drop,
.postal {
    border: 1px solid gray;
    width: 100%;
    box-sizing: border-box;
    padding: 9px 15px;
    font-size: .90rem;
    border-radius: 8px;
    margin-top: .30rem;
    color: #0e2f4f;
    font-weight: 500;
}

.second-input {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.third-input {
    margin-top: 1.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.save-checkbox {
    display: flex;
    align-items: center;
    gap: .70rem;
    margin-top: 1rem;
}

input[type="checkbox"] {
    appearance: none;
    width: 14px;
    height: 14px;
    margin-bottom: 2px;
    border-radius: 2px;
    border: 1px solid gray;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: #2563eb;
    border: 1px solid #2563eb;
}

input[type="checkbox"]:checked::after {
    content: "✓";
    position: absolute;
    color: white;
    font-size: 10px;
    font-weight: bold;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.summary-con h1 {
    color: #0e2f4f;
    font-weight: 600;
    font-size: 1.2rem;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgb(211, 211, 211);
}

.head button {
    color: #2563eb;
    font-size: .90rem;
    font-weight: 500;
}

.head i {
    font-size: .80rem;
    margin-right: 3px;
}

.items {
    padding: 10px 0 15px 0;
    border-bottom: 1px solid rgb(189, 189, 189);
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.contents {
    display: flex;
    flex-direction: column;
}

.img {
    background-color: rgb(238, 238, 238);
    width: 100px;
    border-radius: 10px;
}


.img img {
    width: 100%;
    display: block;
}

.summary-info h3 {
    color: #0e2f4f;
    font-weight: 700;
    font-size: 1rem;
}

.summary-info h4 {
    color: rgb(197, 197, 197);
    font-weight: 500;
    font-size: .80rem;
}

.quantity-summary {
    background-color: rgb(59 130 246 / 10%);
    padding: 3px 10px;
    border-radius: 8px;
    width: fit-content;
    margin-top: 1.1rem;
}

.quantity-summary h4 {
    font-size: 1rem;
    color: #2563eb;
    font-weight: 600;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.right i {
    color: rgb(189, 189, 189);
    font-size: .70rem;
}

.right h2 {
    color: #0e2f4f;
    font-size: 1.2rem;
    font-weight: 600;
}

.overall {
    padding: 20px 0 15px 0;
    border-bottom: 1px solid rgb(189, 189, 189);
}

.subtotal,
.shipping-fee {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subtotal h3,
.shipping-fee h3 {
    color: gray;
    font-size: .90rem;
    font-weight: 600;
}

.subtotal h4,
.shipping-fee h4 {
    color: #0e2f4f;
    font-weight: 700;
    font-size: 1rem;
}

.total {
    padding: 15px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total h3 {
    color: #0e2f4f;
    font-size: 1.2rem;
    font-weight: 700;
}

.total h2 {
    color: #0e2f4f;
    font-size: 1.4rem;
    font-weight: 700;
}

.est-con,
.secure-con {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 17px 15px;
    border-radius: 10px;
    background-color: rgb(59 130 246 / 20%);;
}

.est-con i,
.secure-con i {
    color: #2563eb;
    font-size: 1.6rem;
}

.est-con h4,
.secure-con h4 {
    color: #0e2f4f;
    font-size: .90rem;
    font-weight: 700;
}

.est-con span:nth-child(2),
.secure-con span:nth-child(2) {
    display: block;
    color: gray;
    font-size: .70rem;
}

.heading {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.heading i {
    font-size: 1.8rem;
    background-color: rgba(37, 99, 235, 0.15);
    color: #2563eb;
    width: 2.7rem;
    height: 2.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.heading h2 {
    color: #0e2f4f;
    font-size: 1.2rem;
    font-weight: 800;
}

.heading span:nth-child(2) {
    display: block;
    font-size: .80rem;
    color: gray;
    font-weight: 500;
}

.payment-card {
    display: block;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid #60A5FA;
    border-radius: 6px;
    padding: 12px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.payment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
}

.payment-header img {
    width: 60px;
    height: 30px;
    object-fit: contain;
}

.payment-card:has(input:checked) {
    background-color: rgba(59, 130, 246, 0.08);
    border-color: #3B82F6;
}

.gcash-logo {
    width: 60px;
    height: auto;
}

.radio {
    width: 10px;
    height: 10px;
    border: 2px solid #3B82F6;
    border-radius: 50%;
}

.payment-card p {
    font-size: 12px;
    color: #64748B;
    margin-top: 12px;
}

.payment-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 1.5rem;
}

.info-secure {
    margin-top: 20px;
    background-color: rgba(37, 99, 235, 0.1);
    padding: 20px;
    border-radius: 8px;
}

.info-secure-con {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-secure-con i {
    font-size: 1.9rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #2563eb;
}

.info-secure-con h3 {
    font-size: .90rem;
    color: #2563eb;
    font-weight: 600;
}

.info-secure-con h3 span:nth-child(2) {
    display: block;
    font-weight: 500;
    color: gray;
    font-size: .70rem;
}

.grid-con {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.summary {
    grid-column: 2;
    grid-row: 1 / 3;
}